@{
  Layout = "_Layout";
}

@model ProjectName.Models.ClassName

<h4> Add a New Task</h4>
@using (Html.BeginForm()) 
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <input type="submit" value="Add new task" />
}

<p>@Html.ActionLink("Show all Items", "Index")</p>